{% extends 'layout.html.twig' %}

{% block content %}
<body>
		<div class="timer">
        Le timer
        <button type="button">Start Timer</button>
        </div>

        <div class="quote">
        <p>"{{quote}}"</p>
        </div>

		<div class="cartes">
            {% for picture in pictures %}
                <img class="cartes_row1" src="{{picture.img}}">
            {% endfor %}
        </div>

</body>
{% endblock %}
