{% extends 'layout.html.twig' %}

{% block content %}
<body>

        <h2>C'est Britney qui l'a dit :</h2>

        <div class="quote">
        <p>"{{quote}}"</p>
        </div>

		<div id="timer">

        </div>


        <div class="memory-game">
            {% for picture in pictures %}
                    <div id="{{picture.id}}" class="memory-card" data-framework="britney{{picture.id}}"><img class="front-face" src="{{picture.img}}"></div>
            {% endfor %}
        </div>

</body>
{% endblock %}
