{% extends 'layout.html.twig' %}

{% block content %}
<body>
		<div class="timer">
        Le timer
        <button type="button">Start Timer</button>
        </div>

		<div class="cartes">
            <div class="cartes_row1"></div>
            <div class="cartes_row1"></div>
            <div class="cartes_row1"></div>
            <div class="cartes_row1"></div>
            <div class="cartes_row1"></div>
            <div class="cartes_row1"></div>
            <div class="cartes_row1"></div>
            <div class="cartes_row1"></div>
            <div class="cartes_row1"></div>
            <div class="cartes_row1"></div>
            <div class="cartes_row1"></div>
            <div class="cartes_row1"></div>
        </div>
</body>
{% endblock %}
