{% extends 'layout.html.twig' %}

{% block content %}
<body>
		<div class="timer">
        Le timer
        <button type="button">Start Timer</button>
        </div>

        <div class="quote">
        <p>"{{quote}}"</p>
        </div>

		{# <div class="cartes">
            {% for picture in pictures %}
                <img class="cartes_row1" src="{{picture.img}}">
            {% endfor %} #}

		<div class="memory-game">
                    <div class="memory-card" data-framework="britney1"><img class="front-face" src="{{picture.img}}"></div>
                    {# <div class="memory-card" data-framework="britney1"><img class="front-face" src="/assets/images/britney1.jpg"></div>
                    <div class="memory-card" data-framework="britney2"><img class="front-face" src="/assets/images/britney2.jpg"></div>
                    <div class="memory-card" data-framework="britney2"><img class="front-face" src="/assets/images/britney2.jpg"></div>
                    <div class="memory-card" data-framework="britney3"><img class="front-face" src="/assets/images/britney3.jpg"></div>
                    <div class="memory-card" data-framework="britney3"><img class="front-face" src="/assets/images/britney3.jpg"></div>
                    <div class="memory-card" data-framework="brtiney4"><img class="front-face" src="/assets/images/britney4.jpg"></div>
                    <div class="memory-card" data-framework="britney4"><img class="front-face" src="/assets/images/britney4.jpg"></div>
                    <div class="memory-card" data-framework="britney5"><img class="front-face" src="/assets/images/britney5.jpg"></div>
                    <div class="memory-card" data-framework="britney5"><img class="front-face" src="/assets/images/britney5.jpg"></div>
                    <div class="memory-card" data-framework="britney6"><img class="front-face" src="/assets/images/britney6.jpg"></div>
                    <div class="memory-card" data-framework="britney6"><img class="front-face" src="/assets/images/britney6.jpg"></div> #}
                </div>
            {# </div> #}
        </div>

</body>
{% endblock %}
