{% extends 'layout.html.twig' %}

{% block content %}

    <h2>Bienvenue ! Notre site vous propose de jouer à un jeu de mémoire qui a pour thème les couprs de cheveux de Britney Spears (Free Britney!)</h2>

    <label for="nom">Ton ptit nom:</label><br>
    <input type="text" id="nom" name="nom" placeholder="Michel" required>
<<<<<<< HEAD
=======

    <img class="" src="\assets\images\911819-1999-britney-spears-entame-sa-580x0-2.jpg" >

>>>>>>> 853a81d5a64c1dd6944ed2ea359d091872a58072
    <div class="btn"><a href="home/game"><button id="btn-submit" type="submit" value="Lancer le jeu !"> Lancer le jeu !
    {# {{button}} #}
    </button></a></div>


{% endblock %}