{% extends 'layout.html.twig' %}

{% block content %}
    </br>
    <h2>Bienvenue ! Notre site vous propose de jouer à un jeu de mémoire qui a pour thème les coupes de cheveux de Britney Spears (Free Britney!)</h2>

    <label id ="nom" for="nom">Donne nous ton ptit nom:</label><br>
    <input type="text" id="nom" name="nom" placeholder="Michel" required>

    <div class="lanceLeJeu">
    <a href="/game">
            <input type="submit" value="Lance le jeu!">
        </a>
    </div>


    <div class="gif"><img  src="https://img.20mn.fr/1NznV_G2QsivQWmvo-37jA/768x492_11-fevrier-2021-soutiens-britney-spears-rassembles-devant-palais-justice-stanley-mosk-los-angeles.jpg" ></div>



{% endblock %}