{% extends 'layout.html.twig' %}

{% block content %}
    </br>
<div class="home">

    <div class="gauche"><h2>Bienvenue ! Notre site vous propose de jouer à un jeu de mémoire qui a pour thème les couprs de cheveux de Britney Spears (Free Britney!)</h2>

    <form id="formNom" action="/name" method="post" name="loginname">
        <label for="loginname">Ton ptit nom:</label><br>
        <input type="text" id="loginname" name="loginname" placeholder="Michel" required>
        <div class="btn"><a href="home/game"><button id="btn-submit" type="submit" value="Lancer le jeu !"> Lancer le jeu !
    </form>
    {# {{button}} #}
    </button></a></div>
    </div>

    <div class="gif"></div>

</div>
{% endblock %}