{% extends 'layout.html.twig' %}

{% block content %}

<h1> YOU LOOSE {{ name }} ! </h1>

<h2>OOPS ! Daddy has won.</h2>

<a href="/game"><button class="button" type="button">Replay</button></a>

{% endblock %}
