{% extends 'layout.html.twig' %}

{% block content %}

<div class="h1"> YOU WIN {{ name }} ! </div>

<h2>OOPS ! I'm free again !</h2>

<a href="/game"><button class="button" type="button">Replay</button></a>

{% endblock %}
