{% extends 'layout.html.twig' %}

{% block content %}

<h1> YOU WIN  MICHEL ! </h1>

<h2>OOPS ! I'm free again !</h2>

<a href="home/game"><button class="button" type="button">Replay</button></a>

{% endblock %}
