{% extends 'layout.html.twig' %}

{% block content %}



<object>
<param name="Autostart" value="true">
<param name="src" value="toxic.mp3">
<param name="autoplay" value="true">
<param name="controller" value="true">
<embed src="/assets/toxic.mp3" controller="true" autoplay="true" autostart="True" type="audio/mp3" />
</object>

<h2> You loose {{ name }} ! </h2>

<h2>OOPS ! Daddy has won.</h2>

<div class="btn">
    <a href="/">
        <button id="btn-submit" type="submit" value="replay"> Let's try again !
        </button>
    </a>
</div>

{% endblock %}
